	body { 
		background: white url(http://i.imgur.com/KzhyHhr.gif);
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.container {
		padding-top: 20px;
		height: 1100px;
		width: 700px;
		position: relative;
	}
	.screen {
		position: absolute;
		height: 315px;
		width: 360px;
		top: 169px;
		left: 169px;
	}
	.screen h1 {
		text-align: center;
		font-size: 24px;
		margin-bottom: -16px;
	}
	.screen div {
		height: 100%;
		width: 100%;
		position: relative;
	}
	.screen div.shutdown {
		background-color: rgba(0, 0, 0, 0.5);
	}
	.screen div.title_screen {
		background-color: rgba(0, 0, 0, 0);
		text-align: center;
		font-size: 18px;
	}
	.map img.map {
		height: 100%;
		width: 100%;
		border-radius: 4px;
	}
	.player {
		position: absolute;
		width: 38px;
		height: auto;
		padding: 0px 6px;
	}

	.save_slot {
		margin: 26px;
		padding: 20px;
		height: 20px !important;
		width: auto !important;
		background-color: rgba(0, 0, 0, 0.15);
	}
	.save_slot.selected, {
		font-style: bolder;
		background-color: rgba(0, 0, 0, 0.3);
	}

	.gb_title {
		width: 70%;
		margin: 40px auto;
	}

	.light {
		position: absolute;
		background-color: rgba(255, 0, 0, 0.3);
		height: 18px;
		width: 18px;
		top: 267px;
		left: 95px;
		border-radius: 50%;
		display: block;
		visibility: visible;
		opacity: 1;
	}

	.light.off {
		display: none;
  		visibility: hidden;
  		opacity: 0;
	}

	.gameboy {
		background: url("../images/Game_Boy.png") center no-repeat;
		background-size: cover;
		width: 100%;
		height: 100%;
	}
	.gb {
		width: 100%;
		height: 100%;

	}
	area {
		display: block;
		outline: none;
		background-color: rgba(0, 255, 0, 0.3);
	}

@media (max-width: 720px) {
  .container {
  	display: none;
  	visibility: hidden;
  	opacity: 0;
  }
}